In [17]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             database='note',
                             cursorclass=pymysql.cursors.DictCursor)

In [15]:
with connection.cursor() as cursor:
    # Create a new record
    sql = "INSERT INTO `users` (`name`, `age`, `gender`) VALUES ('sam', 29, 'male')"
    cursor.execute(sql)

# connection is not autocommit by default. So you must commit to save
# your changes.
connection.commit()

In [12]:
with connection.cursor() as cursor:
    # Create a new record
    sql = "select * from users"
    cursor.execute(sql)

    result = cursor.fetchmany(2)
    print(result)

[{'id': 1, 'name': 'Atha', 'gender': 'm', 'age': 30}, {'id': 2, 'name': 'okon', 'gender': 'm', 'age': 30}]

In [18]:
# create a new table

with connection.cursor() as cursor:
    # Create a new record
    sql = """CREATE TABLE `exams` (
            `id` int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
            `user_id` int(11),
            `course_title` varchar(255),
            `units` varchar(255),
            `score` varchar(255),
            FOREIGN KEY (user_id) REFERENCES users(`id`)
            ) ;"""
    cursor.execute(sql)

connection.commit()

In [22]:
with connection.cursor() as cursor:
    # Create a new record
    sql = "INSERT INTO `exams` (user_id, course_title,units,score) VALUES (4, 'conflict resolution', 3, 66)"
    cursor.execute(sql)

# connection is not autocommit by default. So you must commit to save
# your changes.
connection.commit()

In [68]:
def add_new_user(username, age, gender):
    
    with connection.cursor() as cursor:
    # Create a new record
        sql = f"INSERT INTO `users` (name, age, gender) VALUES ('{username}', '{age}', '{gender}')"
        cursor.execute(sql)

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

In [27]:
def read_data():
    with connection.cursor() as cursor:
        # Create a new record
        sql = "select * from users"
        cursor.execute(sql)

        result = cursor.fetchall()
#         print(result)
        
    return result

In [58]:
def get_id(username):
    with connection.cursor() as cursor:
        # Create a new record
        sql = f"select * from users where name = '{username}';"
        cursor.execute(sql)

        result = cursor.fetchall()
#         print(result)
        
    if len(result)<1:
        return False
    else:
        return result[0].get('id')

In [60]:
get_id("okon")

2

In [31]:
def display_data(data):
    for entry in data:
        print(entry["id"], entry["name"])

### USING READ DATA FUNCTION

In [39]:
def insert(user_id, course_title, units, score):
    with connection.cursor() as cursor:
    # Create a new record

        sql = f"INSERT INTO `exams` (`user_id`, `course_title`, `units`, `score`) VALUES ('{user_id}', '{course_title}', '{units}', {score})"
        cursor.execute(sql)

    connection.commit()

### USING GET_IF FUNCTION

In [64]:
name = input("Please enter your target username : ")
course_title = input("Please enter your target course_title : ")
units = input("Please enter your target units : ")
score = input("Please enter your target score : ")

user_id = get_id(name)

insert(user_id, course_title, units, score)

### USING GET_IF FUNCTION WITH ABILITY TO ADD NON EXIXTENT USER

In [69]:
name = input("Please enter your target username : ")
course_title = input("Please enter your target course_title : ")
units = input("Please enter your target units : ")
score = input("Please enter your target score : ")

user_id = get_id(name)

if user_id == False:
    print("Sorry user does not exist\n\n")
    
    age = input("Please enter new user age : ")
    gender = input("Please enter new user gender : ")
    
    add_new_user(name, age, gender)
    user_id = get_id(name)
else:
    pass


insert(user_id, course_title, units, score)

Please enter your target username : wilson
Please enter your target course_title : math
Please enter your target units : 3
Please enter your target score : 98
Sorry user does not exist


Please enter new user age : 23
Please enter new user gender : male